---
- name: Print expected packages setup
  ansible.builtin.debug:
    var: packages

# TODO: if packages.install or packages.remove is undefined these default will not help us.
- name: System install
  become: true
  community.general.pacman:
    name: '{{ packages.install.system | default([]) }}'
    state: present

- name: System remove
  become: true
  ansible.builtin.package:
    name: '{{ packages.remove.system | default([]) }}'
    state: absent

- name: Flatpak install
  community.general.flatpak:
    name: '{{ packages.install.flatpak | default([]) }}'
    state: present

- name: Flatpak remove
  community.general.flatpak:
    name: '{{ packages.remove.flatpak | default([]) }}'
    state: absent

- name: AUR install
  become: true
  become_user: aur_builder
  kewlfft.aur.aur:
    name: '{{ packages.install.aur | default([]) }}'
    state: present
    use: makepkg
