USERDATA="{{ home }}/.local/share/Steam/userdata"
STEAM_SCREENSHOTS="{{ nextcloud }}/Pictures/Steam"

find $USERDATA -name '*.jpg' -not -path '*thumbnail*' -print0 |
	while IFS= read -r -d '' line; do
            mv "$line" "$STEAM_SCREENSHOTS"
        done
